{% extends 'navside.html'%}
{% block content%}
<style>
    .tborderBottom{
        border-bottom: 1px solid gray ;
    }
    .tborderTop{
        border-top: 1px solid gray;
    }
    .borderNone{
        border-top: none;
        border-left: none;
        border-right:none;
        border-color: darkgrey;
    }
</style>
<div>
{% if not invoice%}
{% if reg %}
    <div class="container-fluid">
        <div class="p-3">
            <form action="billing" method="POST">
                {% csrf_token %}
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col" class="d-flex justify-content-middle border-bottom-0" style="font-size: 54px; " colspan="3">Invoice</th>
                        </tr>
                        <tr>
                            <th colspan="2"></th>
                            <th colspan="2">
                                <label for="Date">Date:</label><label for="dateData">{{order.orderdate}}</label>
                                <input type="hidden" name="date" value="{{order.orderdate}}"/>
                                <input type="hidden" name="order" value="{{order.id}}"/>
                            </th>
                        </tr>

                    <tr class="tborderBottom">
                        <th scope="col">S.N</th>
                        <th scope="col">Description</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for d in order.customer_measurement.description.all %}
                    <tr>
                        <td scope="row">{{ forloop.counter }}</td>
                        <td>
                            <label class="borderNone">{{d.description}}</label>
                            <input type="hidden" name="description" value="{{d.description}}"/>
                        </td>

                        <td><input type="number" min="0" name="price" oninput="this.value = Math.abs(this.value)" value="0" class="borderNone total" onkeyup="calculateTotal();" min="0"></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="tborderTop">
                            <th scope="row" colspan="2">Gross Total</th>
                            <td><input type="text" name="grosstotal" value="0" readonly  class="borderNone gross" id="total" min="0"></td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="2">Discount Amount</th>
                            <td><input type="number" name="discount" class="borderNone" id="discount" min="0" value="0" onkeyup="calculateTotal();"></td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="2">VAT</th>
                            <td><label for="VAT">13%</label></td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="2">Net Total</th>
                            <td><input type="text" name="nettotal" value="0" class="borderNone " id="netTotal"  min="0"></td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="2">Advance</th>
                            <td><input type="number" name="advance" id="advance" class="borderNone" min="0" value="0" onkeyup="calculateTotal();"></td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="2">Remaining</th>
                            <td><input type="text" name="remaining" value="0" class="borderNone " id="remaining"  min="0"></td>
                        </tr>
                    </tfoot>
                </table>
                <button class="btn btn-primary">Generate Invoice</button>
            </form>
        </div>
    </div>
{% else %}
    <p>Something went wrong!</p>
{% endif %}

{% else %}
    <div class="container-fluid">
        <div class="p-3">
            <form action="dashboard" method="POST">
                {% csrf_token %}
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col" class="d-flex justify-content-middle border-bottom-0" style="font-size: 54px; " colspan="3">Invoice</th>
                        </tr>
                        <tr>
                            <th colspan="2"></th>
                            <th colspan="2">
                                <label for="Date">Date: </label><label for="dateData">{{invoice.date}}</label>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2"></th>
                            <th colspan="2">
                                <label for="Invoice_No" >Invoice No: </label><label for="Invoice_NoData">{{invoice.id}}</label>
                            </th>
                        </tr>

                    <tr class="tborderBottom">
                        <th scope="col">S.N</th>
                        <th scope="col">Description</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for d in invoice.orderdes.all %}
                    <tr>
                        <td scope="row">{{ forloop.counter }}</td>
                        <td><label class="borderNone">{{d.description}}</label></td>
                        <td><label class="borderNone ">{{d.subtotal}}</label></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="tborderTop">
                            <th scope="row" colspan="2">Gross Total</th>
                            <td><label class="borderNone">{{invoice.gross_total}}</label></td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="2">Discount Amount</th>
                            <td><label class="borderNone">{{invoice.discount}}</label></td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="2">VAT</th>
                            <td><label for="VAT">13%</label></td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="2">Net Total</th>
                            <td><label class="borderNone">{{invoice.net_total}}</label></td>
                        </tr>
                        <!-- {% for id in invoiceDetail %}
                        <tr>
                            <th scope="row" colspan="2">Advance</th>
                            <td><label class="borderNone">{{id.advance}}</label></td>
                        </tr>
                        {% endfor% } -->
                    </tfoot>
                </table>
                <button class="btn btn-primary">Print</button>
            </form>
        </div>
    </div>
   {% endif %}
</div>
<script type="text/javascript">
      function calculateTotal(){
        // console.log("hello");
        var a;
        var price = document.getElementsByClassName("total");
        var sum=0;
        for(var a=0;a<price.length;a++)
        {
        sum = sum +parseInt(price[a].value);
        // console.log(sum);
        }
        document.getElementById('total').value =sum;
        var dis = document.getElementById('discount').value;
        var vat= 0.13;
        document.getElementById('netTotal').value = (sum-dis)*vat+(sum-dis);
        var adv = document.getElementById('advance').value;
        document.getElementById('remaining').value =Math.ceil(document.getElementById('netTotal').value-adv);

    }
</script>
{%endblock%}