{% extends 'navside.html'%}
{% block content%}
<style>
        .borderNone{
        border-top: none;
        border-left: none;
        border-right:none;
        border-color: darkgrey;
        margin-left: 12px;
    }
    .table-container{
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

</style>
<div class="container-fluid search_box">
    <form class="form-inline">
        <div class="row">
            <div class="col-10"><input class="form-control " type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-2">
                <button class="btn btn-outline-success " type="submit">Search</button>
            </div>
        </div>
    </form>
        <div class="shadow-lg table-container">
            <h1>{{employee.name}}</h1>
            <table class="table table-sm">
                <thead class="table-dark">
                <tr>
                    <th class="th">#</th>
                    <th class="th">Invoice</th>
                    <th class="th">Customer</th>
                    <th class="th">Email</th>
                    <th class="th">Number</th>
                    <th class="th">Deadline</th>
                    <th class="th">Status</th>
                    <th class="th"></th>
                   
                </tr>
                </thead>
                
            </table>
        </div>
</div>
{%endblock%}
